@import "tailwindcss";

:root[data-theme="light"] {
  --text: #1f1f00;
  --background: #fffff0;
  --primary: #1a1200;
  --secondary: #654b1a;
  --accent: #a06b22;
}

:root[data-theme="dark"] {
  --text: #ffffe0;
  --background: #0f0f00;
  --primary: #fff7e5;
  --secondary: #e5cb9a;
  --accent: #dda95f;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.icon {
  color: var(--icon-color);
}
