@import "tailwindcss";

@font-face {
  font-family: "Gotham";
  src:
    url("/fonts/Gotham-Light.woff2") format("woff2"),
    url("/fonts/Gotham-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src:
    url("/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root[data-theme="light"] {
  --text: #1f1f00;
  --background: #fffff0;
  --primary: #1a1200;
  --secondary: #654b1a;
  --accent: #a06b22;
}

:root[data-theme="dark"] {
  --text: #ffffe0;
  --background: #0f0f00;
  --primary: #fff7e5;
  --secondary: #e5cb9a;
  --accent: #dda95f;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.icon {
  color: var(--icon-color);
}
